.bg{
    background-image: url("../../assets/bgLogin.png");
    overflow: hidden;
    /* margin-top:60px; */
    background-size: cover;
    background-position: absolute;
    width: 100vw;    
    background-repeat: no-repeat;    
  }
  .logo-login{
    height: 50px;    
    margin-bottom: 15px;
  }
  .bg-navbar{
    background-image: url("../../assets/menubgblue.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    }
.nav-input{
height: 36px;
}

