.bg{
    background-image: url("../../assets/bgLogin.png");
    overflow: hidden;
    /* margin-top:60px; */
    background-size: cover;
    background-position: center;
    width: 100vw;
    height:100vh;    
    background-repeat: no-repeat;    
  }
  .bg-nav{
    background-color: rgba(129,212,253,0.9);
  }
  .bg-body{
    background-color: rgba(35, 255, 207, 0.4);
    /* height: 80vh; */
  }
  .col-left{
    /* position: fixed;
    top:150px; */
    /* overflow-y: hidden; */
    background-color: rgba(75, 108, 255, 0.4);
    /* height: 90vh; */
  }
  .col-right{
    /* position: fixed;
    top:150px; */
    /* overflow-y: hidden; */
    background-color: rgba(75, 108, 255, 0.4);
    /* height: 90vh; */
  }
  /* input[type="file"] {
    display: none;
}
FaRegImages{
  cursor: pointer;
} */
  .text-area-style{    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:5px 12px;
    width: 40vw;
    margin-left: 15px;
    resize: none;
    border-radius: 12px;
  }
  .input-post{
    border-radius: 12px;
    background-color: #d1d1d1;
    border: 0;
    color: #595252;
    font-size: 18px;
  }
  .row-create-post{
    margin: 13px 5px;
    border-radius: 12px;
  }