.bg{
    background-image: url("../../assets/bgLogin.png");
    overflow: hidden;
    /* margin-top:60px; */
    background-size: cover;
    background-position: center;
    width: 100vw;
    height:100vh;    
    background-repeat: no-repeat;    
  }
  .bg-nav{
    background-color: rgba(129,212,253,0.9);
  }
  .bg-body{
    background-color: rgba(35, 255, 207, 0.4);
    /* height: 80vh; */
  }
  .col-left{
    /* position: fixed;
    top:150px; */
    /* overflow-y: hidden; */
    background-color: rgba(75, 108, 255, 0.4);
    /* height: 90vh; */
  }
  .col-right{
    /* position: fixed;
    top:150px; */
    /* overflow-y: hidden; */
    background-color: rgba(75, 108, 255, 0.4);
    /* height: 90vh; */
  }