.bg-navbar{
  background-image: url("../../assets/menubgblue.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  }
.navbar{
    position: absolute;
    width: 100vw;    
}