.bg{
    background-image: url("../../assets/bgLogin.png");
    overflow: hidden;
    /* margin-top:60px; */
    background-size: cover;
    background-position: center;
    width: 100vw;
    height:100vh;    
    background-repeat: no-repeat;    
  }