.bg{
    background-image: url("../../assets/bgLogin.png");
    overflow: hidden;
    /* margin-top:10px; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    object-position: center;
  }